{% extends "base.html" %}

{% block pageBase %}


<h1>Esto es una lista de Ingresos y Gastos</h1>

<table>
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Monto</th>
        </tr>
    </thead>

    <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.fecha }}</td>
                <td>{{ item.concepto }}</td>
                <td>${{item.monto}}</td>
            </tr>
        {% endfor %}

        
       
    </tbody>        
   

</table>

<a href="http://127.0.0.1:5000/new">Nuevo</a>

{% endblock %}